:root {
	--source: #43b9b7;
	--primary: var(--source);
	--primary-faded: #43b9b755;
	--primary-transparent: #43b9b700;
    --skew: 0deg;
    --background:var(--source);
}

/* Transition Styles */

.wave-content-wrapper{
    background-color: var(--background);
    width: 100%;
}
@keyframes move_wave {
	0% {
		transform: translateX(-50%) translateY(10%) translateZ(0) scaleY(0.8);
	}
	25% {
		transform: translateX(-37.5%) translateY(17.5%) translateZ(0)
			scaleY(0.6);
	}
	50% {
		transform: translateX(-25%) translateY(25%) translateZ(0) scaleY(0.8);
	}
	75% {
		transform: translateX(-12.5%) translateY(17.5%) translateZ(0)
			scaleY(0.6);
	}
	100% {
		transform: translateX(0) translateY(10%) translateZ(0) scaleY(0.8);
	}
}

@keyframes jump {
	20% {
		transform: rotate(-10deg);
	}

	50% {
		transform: scale(1.2) rotate(10deg);
	}

	80% {
		transform: scale(1.2) rotate(-10deg);
	}

	100% {
		transform: scale(1.2);
	}
}
/* End Transition Styles */